.menu {
    color: #90C8E1;
}

.menu:hover {
    color: white;
    text-decoration: none;
}

.submenu {
    overflow-y: hidden;
    overflow-x: initial;
    max-height: 200px;
    transition: max-height 2s ease-in-out;
}

.submenu-hidden {
    max-height: 0;
    transition: max-height 2s ease-in-out;
}

.menu-visible {

    overflow-y: hidden;
    overflow-x: initial;
    max-height: 200px;
    transition: max-height 2s ease-in-out;
}

.menu-hidden {
    overflow-y: hidden;
    overflow-x: initial;
    max-height: 0;
    transition: max-height 2s ease-in-out;

}


@keyframes delay-overflow {
    from { overflow: visible; }
}
