.menu {
    color: #90C8E1;
}

.menu:hover {
    color: white;
    text-decoration: none;
}

.menu-visible {
    overflow: visible;
    max-height: 100vh;
    transition: max-height 2s 0s, overflow 2s 0s ease-in-out;
}

.menu-hidden {
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s 0s, overflow 2s 0s ease-in-out;
    animation: 3s delay-overflow;

}


@keyframes delay-overflow {
    from { overflow: visible; }
}
