.menu {
    color: #90C8E1;
}

.menu:hover {
    color: white;
    text-decoration: none;
}

.menu-visible {
    overflow: hidden;
    /* visibility: visible;
    opacity: 1; */
    max-height: 100vh;
    transition: max-height 2s linear;
}

.menu-hidden {
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s linear;
    /* visibility: hidden;
    opacity: 0; */
    /* transition: visibility 0s 1s, opacity 1s linear; */
}

